.navbar {
  min-height: 70px;
  min-width: max-content;
}

.navbar-brand {
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.nav-link {
  font-size: 1.1rem;
  padding: 0.5rem 1rem !important;
}

.user-avatar {
  transition: all 0.3s ease;
}

.user-avatar:hover {
  transform: scale(1.05);
}